.container{
    text-align: center;
    background-color: #FFE5D9;
}
.thumbnail{
    z-index:900;
}
.thumbnail:active {
    position:fixed;
    z-index:999;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    transform: scale3d(3.0);
}