html {
    scroll-behavior: smooth;
  }
body{
    background-image: url("../images/mermaid.jpg");
    }

nav{
background-color: #FFCAD4;
width: 100%;
font-size: 250%;
font-family: 'Montaga', serif;
}

#Logo{
    background-color: white; 
    align-content: center;
    
}

#top{
    background-color: white;
    
}
#girl_Side{
background-color: #FFE5D9;
text-align: center;
font-size: 290%;
float: left;
font-family: 'Montaga', serif;

}
#boy_Side{
background-color: #D8E2DC;
text-align: center;
font-size: 290%;
float: right;
font-family: 'Montaga', serif;
}

.nav-link:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }

  * {
    box-sizing: border-box;
  }
  
  /* Create three columns of equal width */
  .columns {
    
    float: left;
    width: 33.3%;
    padding: 8px;
    background-color: #D8E2DC;
  }
  
  /* Style the list */
  .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  /* Add shadows on hover */
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  
  /* Pricing header */
  .price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
  }
  
  /* List items */
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }

  
  /* Grey list item */
  .price .grey {
    background-color: #eee;
    font-size: 20px;
  }
  
  /* The "Sign Up" button */
  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Change the width of the three columns to 100% 
  (to stack horizontally on small screens) */
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
  }
  #themeTitle{
    text-align: center;
   font-family: 'Montaga', serif;
   }
   .themeArea{
     display: none;
     background-color: #d8e2dc
   }
   .carousel-caption{
     color: black;
   }
   .addArea{
     display: none;
     background-color: #D8E2DC;
     font-family: 'Montaga', serif;
     font: bold;
   }
  .summaryArea{
    background-color: #D8E2DC;
    font-family: 'Montaga', serif;
  }
  #cartTitle{
    text-align: center;
  }
 #themeChosen{
   text-align: center;
   padding-top: 10%;
 }
 #packageChosen{
   text-align: center;
 }


 
   