body{
    background-image: url("../images/mermaid.jpg");
    }

nav{
background-color: #FFCAD4;
font-size: 250%;
font-family: 'Montaga', serif;
}

#Logo{
    background-color: white; 
    align-content: center;
}

#top{
    background-color: white;
    
}
#girl_Side{
background-color: #FFE5D9;
text-align: center;
font-size: 290%;
float: left;
font-family: 'Montaga', serif;

}
#boy_Side{
background-color: #D8E2DC;
text-align: center;
font-size: 290%;
float: right;
font-family: 'Montaga', serif;

}